<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/inscription/submit}" method="post">
    <div>
        <h1>Formulaire d'inscription</h1>
    </div>
    <div>
        <input type="text"placeholder="veuillez saisir un pseudo">
    </div>
    <div>
        <input type="text"placeholder="veuillez saisir une  addresse mail">
    </div>
    <div>
        <input type="password"placeholder="veuillez saisir un mot de passe">
    </div>
</form>

</body>
</html>