<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuaration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuaration>
    <session-factory>
        <mapping class=""></mapping>
    </session-factory>
</hibernate-configuaration>